@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Itim&family=Kaushan+Script&display=swap');

$font-headings: 'Gochi Hand', cursive;
$font-headings: 'Itim', cursive;
$font-headings: 'Kaushan Script', cursive;
$font-text: 'Open Sans', sans-serif;
$font-h1: 2vw;
$font-h2: 4vw;
$font-h3: 2rem;
$text: 1.2rem;
